[submodule "themes/beautifulhugo"]
    path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git

[submodule "static/js/reveal.js"]
	path = static/js/reveal.js
	url = https://github.com/hakimel/reveal.js.git
